<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.han_hoseong.mapper.MenuMapper">
	<select id="get_parent_menus">
		SELECT *
		FROM hhs_parent_menu
	</select>
	<select id="getMenus">
		SELECT *
		FROM hhs_menu
		WHERE parent_menu_id = #{parent_menu_id}
	</select>
	<update id="setMenus">
		UPDATE hhs_menu
		SET icon = #{icon}, color=#{color}
		WHERE menu_id=#{menu_id}
	</update>
	<select id="has_quick">
		SELECT COUNT(*)
		FROM hhs_quick
		WHERE quick_id = #{quick_id}
	</select>
	<delete id="delete_over_quick">
		DELETE FROM hhs_quick
		WHERE quick_id > #{size}
	</delete>
	<insert id="create_quick">
		INSERT INTO hhs_quick(quick_id) 
		VALUES (#{quick_id})
	</insert>
</mapper>
