<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.han_hoseong.mapper.MenuMapper">
	<select id="get_parent_menus">
		SELECT *
		FROM hhs_parent_menu
	</select>
	<select id="getMenus">
		SELECT menu_id, name, url, icon, color, hm.parent_menu_id, quick_id, quick_menu_order, hpm.parent_name AS parent, frame_on
		FROM hhs_menu hm
		JOIN hhs_parent_menu hpm ON hm.parent_menu_id = hpm.parent_menu_id
		WHERE hm.parent_menu_id = #{parent_menu_id}
	</select>
	<update id="setMenus">
		UPDATE hhs_menu
		SET icon = #{icon}, color=#{color}
		WHERE menu_id=#{menu_id}
	</update>
	<select id="get_quicks">
		SELECT *
		FROM hhs_quick
	</select>
	<select id="get_quick_menus">
		SELECT menu_id, name, url, icon, color, hm.parent_menu_id, quick_id, quick_menu_order, hpm.parent_name AS parent, frame_on
		FROM hhs_menu hm
		JOIN hhs_parent_menu hpm ON hm.parent_menu_id = hpm.parent_menu_id
		WHERE quick_id = #{quick_id}
		ORDER BY quick_menu_order
	</select>
	<delete id="delete_all_quick">
		<!-- DELETE FROM hhs_quick
		WHERE TRUE -->
		TRUNCATE TABLE hhs_quick
	</delete>
	<insert id="create_quick">
		INSERT INTO hhs_quick(quick_id, name) 
		VALUES (#{quick_id}, #{name})
	</insert>
	<update id="reset_menu_quick">
		UPDATE hhs_menu
		SET quick_id = NULL, quick_menu_order = NULL
		WHERE quick_id IS NOT NULL OR quick_menu_order IS NOT NULL;
	</update>
	<update id="set_menu_order">
		UPDATE hhs_menu
		SET quick_id = #{quick_id}, quick_menu_order = #{quick_menu_order}
		WHERE menu_id = #{menu_id}
	</update>
	<select id="get_icons">
		SELECT icon_id, `row`, col, folder, folder_name, folder_icon_id, i.menu_id, m.name, m.url, m.icon, m.color, pm.parent_name AS parent
		FROM hhs_icon i
		LEFT JOIN hhs_menu m ON i.menu_id = m.menu_id
		LEFT JOIN hhs_parent_menu pm ON m.parent_menu_id = pm.parent_menu_id
	</select>
	<insert id="create_folder">
		INSERT INTO hhs_icon(`row`, col, folder, folder_name)
		VALUES (#{row}, #{col}, CASE WHEN #{folder} THEN 1 ELSE 0 END, #{folder_name})
	</insert>
	<select id="select_latest_icon">
		SELECT icon_id, `row`, col, folder, folder_name, folder_icon_id, i.menu_id, m.name, m.url, m.icon, m.color, pm.parent_name AS parent
		FROM hhs_icon i
		LEFT JOIN hhs_menu m ON i.menu_id = m.menu_id
		LEFT JOIN hhs_parent_menu pm ON m.parent_menu_id = pm.parent_menu_id
		ORDER BY icon_id DESC
		LIMIT 1
	</select>
</mapper>
